body {
	margin: 0;
	padding: 0;
	font-family: "Myriad Pro Regular", Arial, sans-serif;
}
*{
	box-sizing:border-box;
}
p,
h1,
ul{
	margin:0;	
}
.background{
	background-image: url("../img/background.jpg");
   	height:750px;

	}
.main-header{
	max-width:1175px;
	margin:0 auto;
	clear: both;
	position:relative;
	
	}
.main-header::after{ 
    position: absolute; 
    left: 0px;
	right: 0px; 
	height: 1px; 
	content: ''; 
	background-color: #505268;
	top:90px;
	}	
	
	
.main-header-logo{
	float:left;	
	margin-top: 33px;
}
.site-navigation li{
	display:inline-block;
	margin-top:40px;
	text-transform:uppercase;
	font-size: 13px;
	margin-right:5px;
	padding-left:48px;

	

}
.site-navigation{
	float:right;

	
}
.main-navigation::after{
	content:"";
	display:table;
	clear:both;
	
}
ul{
	margin:0;
	padding:0;
	list-style:none;

}
	
.site-navigation a:visited, {
	color:#cacad1;



	
}
 a{
	text-decoration: none;
	 color:#cacad1;
 }	
	
.one-page{
    margin-top: 188px;
	text-align:center;
	}
h1.one-page-title{
	font-size: 65px;
	color:#ffffff;
	text-transform: uppercase;
	line-height:70px;
	margin-bottom:20px;
}
p.one-page-paragraf{
	font-size: 22px;
	color:#ffffff;	
	line-height:36px;
    margin-bottom:40px;	
	
}
.button{
	border: 1px solid #e84545;
    color:	#ffffff;
	display: inline-block;
	width: 201px;
	font-size:13px;
	height:49px;
	background-color:#e84545;
	margin-top:40px;
	border-radius: 2px;
	padding-top:15px;
	text-transform:uppercase;
}
.two-page{
	margin-bottom:129px;
	margin-top:50px;
}
.two-page-items{
	max-width:1175px;
	margin:0 auto;
	clear: both;
	}
.two-page-items li{
	display:inline-block;
	margin-top:69px;
	font-size: 3px;
	margin-right:auto;
	margin-left:-10px;
	padding-left:99px;
	width:380px;
	text-align:center;
	


}
.two-page-items h3{
	font-size:14px;	
	text-transform:uppercase;
	padding-top:18px;
}	
.two-page-items p{
	font-size:14px;
	line-height:18px;
	color:#6c7279;
	padding-top: 5px;
	text-align:centr;
}


.pictures-items {
	display:flex;	
	flex-wrap:wrap;
	justify-content: space-between;
	overflow-x:hidden; 
	
}
.pictures-items li{
	width:25%;

}



.pictures-text{  
    position:relative;
}
div.text{
	position: absolute;
	margin:150px 130px;
	line-height:8px;
	width:200px;

}
h4.text{
	text-transform:uppercase;
	font-size:14px;
	color:#fdf3f3;	
	text-align:center;

}	
p.text{
	font-size:14px; 
	color:#fdf3f3;
	text-align:center;
}
.people{
	max-width:1175px;
	margin:86px auto;
	display:flex;

}
.all-people {
	display:flex;
	width:270px;	
	
}
.all-people li{
	margin-right:30px;	
}


h4.name{
	margin-bottom:10px;
	margin-top:15px;
	font-size:24px;
	font-weight:lighter;

}
p.work{
	color:#e84545;
	margin-bottom:30px;
	text-transform:uppercase;
	font-size:13px;
	
}	
p.about-people{
	font-size: 14px;
	color: #6c7279;
	line-height:20px;
	margin-bottom:30px;
}
.people-social{
	display:flex;
	
}

a.social-all{
	border: 1px solid #e8ecee;
	margin-right:5px;
	display:flex;
	width:40px;
	height:40px;
	text-align:center;
	align-items: center;
	justify-content:center;


}
.slider{
	display: flex;
	
}
.slider-image {
    width: 50%;
	display: flex;
}
.slider-image img{
	max-width: 100%;
    display: block;
	
    
	
}

.content-radio{
	background-color:#53354a;
	width:51%;
	display:flex;
}
.content{
	width:500px;
	margin-top:90px;
	flex-direction:column;
	margin-left:80px;
}

.quote,
.author{
	color:#ffffff;
}
.quote{
	font-size: 36px;
	font-style: italic;	
}
.author{
	font-size:13px;
	text-transform:uppercase;
	margin-top:35px;
	margin-bottom:60px;
	}
.radio{
	text-align:center;
}	
.radio input[type="radio"] {
    visibility:hidden;
	margin-right:-13px;;
}
.radio label {
	display:inline-block;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	background-color: #755d6e;
	}
.radio input[type="radio"]:checked + label { 
    background-color:#ffffff;
    
}
.page-end{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin-bottom:95px;
	margin-top:90px;
}
.page-end-headline{
	font-size:28px;
	font-weight:100;
	line-height:50px;
	color:#3b3e41;
}
.page-end-paragraf{
	font-size:13px;
	text-transform:uppercase;
	font-weight:750;
	color:#2d3033;
	word-spacing:-1px;

}
.button-page-end{
	width:300px;
	text-align:center;
	
}
.main-footer{
	background-color:#3a3e64;
	}
.first-footer{
	max-width:1170px;
	display:flex;
	margin:0px auto;	
	padding-top:60px;
	padding-bottom:100px;
}	
.location{
	width:30%;	
	text-align:center;		
}
.footer-share{
	width:40%;
	text-align:center;	
}	
.footer-about{
	width:30%;
	text-align:center;
}
.footer-share-name{
	font-size: 14px;
	color:#ffffff;
	text-transform:uppercase;
	margin-bottom:10px;
	

}
.paragraf-footer{
	font-size: 14px;
	color:#9d9fb2;
	text-align:center;
	line-height:22px;
	
}
.footer-social{
	display:flex;
	justify-content:  center;
	margin-left:6px;
	margin-top:15px;
	
}
.footer-social-share {
	border:2px solid white;
}
.footer-copyrate{
	display:flex;
	background-color:#313454;
	justify-content:center;
	align-items:center;
	padding:30px 0px;
	
}
.footer-copyrate-content{
	text-align:center;
	font-size:14px;
	color:#75767a;
	line-height:20px;
}
.heart{
	color:red;
}
.by{
color:#ffffff;	
}
	
	

